[project]
	description = A sample application that shows how Cloud Foundry exposes service information to Spring applications.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SarfarazPathan
[access "refs/for/refs/*"]
	read = group user/SarfarazPathan
	push = group user/SarfarazPathan
	label-Code-Review = -2..+2 group user/SarfarazPathan
	label-Verified = -1..+1 group user/SarfarazPathan
	rebase = group user/SarfarazPathan
	removeReviewer = group user/SarfarazPathan
	submit = group user/SarfarazPathan
[access "refs/heads/*"]
	read = group user/SarfarazPathan
	create = group user/SarfarazPathan
	push = +force group user/SarfarazPathan
	pushMerge = group user/SarfarazPathan
[access "refs/tags/*"]
	push = group user/SarfarazPathan
	push = +force group user/SarfarazPathan
